
body{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 102px;
}

.header {
  padding: 10px 16px;
 
}



         